.nav-list {

}
.logo-color {

}
.nav-list-item {

}
.address-list {

}
.mail {

}
.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}
.filter-btn:hover {
background-color: #404BBF;
cursor: pointer;}
